body {
	padding: 0;
	margin: 0;
}

#root .search-box {
	position: relative;
	width: 100%;
	height: 100px;
	text-align: center;
}

#root .loading {
	display: none;
	position: absolute;
	bottom: 50px;
	left: 50%;
	transform: translateX(-50%);
}

#root ul {
	margin: 0 auto;
	padding: 0;
	list-style-type: none;
	max-width: 200px;
}

#root ul:after {
	display: table;
	content: '';
	clear: both;
}

#root ul li {
	padding: 0;
	display: inline-block;
    text-align: center;
    margin-bottom: 10px
}
@media screen and (min-width: 768px) {
	#root ul {
		max-width: 1024px;
	}
	#root ul li {
		float: left;
		width: 20%;
	}
}
@media screen and (min-width: 768px) {
	#root ul {
		max-width: 1000px;
	}
	#root ul li {
		float: left;
		width: 20%;
	}
}

#root ul li.marked button {
	position: relative;
}

#root ul li.marked button:after {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	margin-top: -5px;
	right: -15px;
	width: 10px;
	height: 10px;
	background: green;
}

#root ul li img {
	vertical-align: top;
}

// #root .characters-local li:hover {
// 	position: relative;
// }
// #root .characters-local li:hover:after {
// 	content: 'x';
// 	display: block;
// 	position: absolute;
// 	width: 100%;
// 	height: 100%;
//     background: rgba(0, 0, 0, 0.8);
//     top: 0;
//     font-family: 'Helvetica', 'Arial', sans-serif;
//     font-size: 150px;
//     color: red;
//     cursor: pointer;
// }